@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap');
:root {
    --base-distance: 5%;
    --red: rgb(196, 57, 57);
    --yellow: #eab221;
    --green: #25d366;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.br{
    display: block;
    margin-bottom: 10px;
}

html {
    font-family: 'Nunito', sans-serif;
    margin-top: 5%;
    background-color: #e8e7eb;
}

canvas {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 1050;
    height: 900;
    margin: auto;
}

/* Inicial Screen */

#content-start-game {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border: 1px solid #000;
    box-shadow: 0px 0px 10px black;
    border-radius:5px;
    background-color:rgb(204, 204, 204);
    cursor: default;
    background-image: url("assets/UX/TelaInicial/TelaInicial.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mid-top{
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 3px solid #000;*/
    border-radius:5px;
}

.mid-top h1{
    background-color:darkgray;
    border: 3px solid #000;
    width:50%;
    font-size:150%;
}

#middle{
    margin-top: 65%;
    margin-bottom: 1%;
    display: flex;
    width: 100%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

#git-hub{
    margin-top: 5%;
    height: 60%;
    width: 10%;
    margin-left: 5%;
    background-image: url("assets/UX/TelaInicial/GithubEsc.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: inherit;
}
#git-hub:hover{
    background-image: url("assets/UX/TelaInicial/GithubClaro.png");
    transform: scale(1.2);
}

#start-game{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 58%;
    /* box-shadow: 3px 3px 10px 5px #ab2131; */
    background-color:inherit;
    border-radius:5px;
    cursor: default;
    animation-name: pressSpace;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes pressSpace{
    0% {opacity: 100%;}
    50% {opacity: 0%;}
    100% {opacity: 100%;}
}

#high-score{
    margin-top: 5%;
    height: 60%;
    width: 10%;
    margin-right: 5%;
    background-image: url("assets/UX/TelaInicial/HighScoreEsc.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: inherit;
}
#high-score:hover{
    background-image: url("assets/UX/TelaInicial/HighScoreClaro.png");
    transform: scale(1.2);
}

#animStart{
    display: none;
    margin-top: -28%;
    height: 30%;
    width: 20%;
    z-index: +1;
    animation-name: start;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
}
#animStart img{
    transform: rotate(270deg);

}

@keyframes start {
    from {
        transform: translateX(250px);
    }
    to{
        transform: translateX(800px);
    }
}


.bot{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    height: 2%;
    margin-left: 33%;
    margin-right: auto;
    font-size: 200%;
    text-align: center;
    align-items: center;

}

/* Credits screen */

/* #about{
    display: flex;
    margin-right: 2%;
    margin-left: auto;
    margin-top: 45%;
    border: 3px solid #000;
    width: 10%;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px 5px #ab2131;
    background-color:inherit;
    font-size: 150%;
    font-weight: bold;
    border-radius:5px;
    background-color:inherit;
    font-family: 'Nunito', sans-serif;
    color: #f13c4f;
    cursor: default;
}

#about:hover{
    background-color: #000;
    color: #fff;
    opacity: 0.7;
    transform: scale(1.2);
}


#content-game-credit {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border: 1px solid #000;
    width: 800px;
    height: 600px;
    background-color: black;
    opacity: 0.9;
    color: white;
    border-radius:5px;
}



#credits-top{
    margin-top: 3%;
    width: 18%;
    height:10%;
    align-items: center;
    justify-content: center;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    border: 3px solid #fff;
    border-radius:5px;
}


#middle-top{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 150%;
    margin-top: 10%;
    margin-left: 10%;
} */


/* .name{
    margin-top: 10px;
}

#credits-bot{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    font-size: 50%;
    width: 120%;
    border-radius:5px;
} */

/* InGame Content */

@font-face {
    font-family: Aurebesh;
    src: url(assets/UX/TelaDeJogo/Aurebesh\ Bold.otf);
}

#content-game{
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border: 1px solid #000;
    box-shadow: 0px 0px 10px black;
    border-radius:5px;
    z-index: +1;
    cursor: default;
}

#top-screen{
    display: flex;
    width: 100%;
    height: 10%;
}

#life{
    background-image: url("assets/UX/TelaDeJogo/BarraDeVida/Full.png");
    background-repeat: no-repeat;
    background-size:auto;
    margin-right: auto;
    margin-left: 1%;
    margin-top: 1%;
    width: 20%;
}

#current-score{
    background-image: url("assets/UX/TelaDeJogo/HudScore.png");
    background-repeat: no-repeat;
    background-size:auto;
    margin-left: auto;
    margin-right: 1%;
    margin-top: 1%;
    width: 27%;
    font-family: Aurebesh;
    color: #45c0ef;
    text-align: right;
    font-size: 350%;
    align-items: center;
    justify-content: center;
    
}

#debugmode{
    display: flex;
    width:10%;
    height:5%;
    margin-top:2%;
    margin-left: 1%;
    margin-bottom: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    border-radius:20px;
    background-color:rgb(248, 41, 41);
    font-size:100%;
    opacity: 0.8;
    cursor: pointer;

}

#debugmode:hover{
    opacity: 1;
    transform: scale(1.2);
}

.btn-instruction{
    display: flex;
    margin-top:54%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width:95%;
    height:10%;
    cursor: default;
}
#btn-left{
    display: flex;
    background-color:#2b4397;
    margin-left: 0%;
    margin-right: auto;
    opacity: 0.5;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    border-radius:20px;
    height:80%;
    width:8%;
    font-size:200%;
    cursor: default;
}
#btn-space{
    display: flex;
    background-color:#2b4397;
    margin-top: 13%;
    opacity: 0.5;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    border-radius:10px;
    height:50%;
    width:40%;
    font-size:200%;
    cursor: default;
}
#btn-right{
    display: flex;
    margin-left: auto;
    margin-right: 0%;
    background-color:#2b4397;
    opacity: 0.5;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    border-radius:20px;
    height:80%;
    width:8%;
    font-size:200%;
    cursor: default;
}

#record {
    position: absolute;
    left: var(--base-distance);
    cursor: default;
    font-size: 1.5em;
}

#actions {
    position: absolute;
    right: var(--base-distance);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#actions :hover {
    opacity: 0.7;
    cursor: pointer;
    transform: scale(1.2);
}

/* Game Buttons */

input[type=button],
button {
    width: 10vw;
    height: 5vh;
    font-size: 2em;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;

    font-family: 'Nunito', sans-serif;
    color: white;
}

.btn-start {
    background-color: var(--red);
}

.btn-pause {
    background-color: var(--yellow);
}

.btn-restart {
    background-color: var(--green);
}


/* Score Screen */

@font-face{
    font-family: AnakinmonoRegular;
    src: url(assets/UX/Placar/AnakinmonoRegular-n1lP.ttf);
} 
    

#content-score {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border: 1px solid #000;
    box-shadow: 0px 0px 10px black; 
    border-radius:5px;
    cursor: default;
    background-image: url("assets/UX/Placar/FundoPlacar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#score-screen {
    display: flex;
    width: 78%;
    height: 48%;
	text-align: center;
    margin-bottom: auto;
    margin-top: 19%;
    margin-left: auto;
    margin-right: auto;

}

#top-score{
    width: 100%;
    height: 100%;
    font-family: AnakinmonoRegular;
    font-size: 400%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #df2130;

}

#bottom-score{
    display: flex;
    width: 20%;
    height: 10%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: 4%;
}

#git-hub-score{
    display: flex;
    height: 100%;
    width: 45%;
    margin-right: auto;
    background-image: url("assets/UX/Placar/GitHubGreenEsc.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
    background-position: center;
}

#git-hub-score:hover{
    background-image: url("assets/UX/Placar/GitHubGreenClaro.png");
    transform: scale(1.2);
}

#return{
    display: flex;
    height: 100%;
    width: 45%;
    margin-left: auto;
    background-image: url("assets/UX/Placar/VoltarEsc.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
    background-position: center;
}

#return:hover{
    background-image: url("assets/UX/Placar/VoltarClaro.png");
    transform: scale(1.2);
}